vti_encoding:SR|utf8-nl
images/me.png:index.htm
https\://x.com/rspaced:links.htm
https\://youtube.com/@rspaced:links.htm
fpweb\:///links.htm:_sharedtemplates/pages/page.tem/page.htm
https\://youtube.com/@rspacedout:links.htm
fpweb\:///index.htm:_sharedtemplates/pages/page.tem/page.htm
fpweb\:///about_me.htm:_sharedtemplates/pages/page.tem/page.htm
images/under construction.png:new_page_1.htm
images/rspace at work.png:new_page_1.htm
